<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--include libraries(jQuery)-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!--include summernote css/js-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>

<body>
    <form th:action="@{/board/update}" method="post">
        <input type="hidden" name="id" th:value="${board.id}">
        제목 <input type="text" name="title" th:value="${board.title}"><br><br>
        썸네일 사진 선택
        <select id="thumbnail" name="thumbnail">
            <option th:each="name : ${imgList}" th:value="${name}">[(${name})]</option>
        </select><br/>
        <textarea id="summernote" type="text" th:class="form-control" name="content" rows="10">[(${board.content})]</textarea><br>
        <input type="submit" value="수정하기"/><br>
    </form>

    <!--summernote editor 설정-->
    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                // 에디터 높이
                height: 300,
                lang: 'ko-KR',         // 에디터 한글 설정
                focus : true,          // 에디터에 포커싱
                toolbar: [
                    // 글꼴 설정
                    ['fontname', ['fontname']],
                    // 글자 크기 설정
                    ['fontsize', ['fontsize']],
                    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    // 글자색
                    ['color', ['forecolor','color']],
                    // 표만들기
                    ['table', ['table']],
                    // 글머리 기호, 번호매기기, 문단정렬
                    ['para', ['ul', 'ol', 'paragraph']],
                    // 줄간격
                    ['height', ['height']],
                    // 그림첨부
                    ['insert',['picture']],
                    // 코드보기, 확대해서보기, 도움말
                    ['view', ['codeview','fullscreen', 'help']]
                ],
                // 추가한 글꼴
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
                // 추가한 폰트사이즈
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
                callbacks:{
                    onImageUpload : function(files, editor, welEditable){
                        // 파일 업로드(다중업로드를 위해 반복문 사용)
                        for (var i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i], this);
                        }
                    }
                }
            });

            function uploadSummernoteImageFile(file,el) {
                data = new FormData();
                data.append("file", file);

                $.ajax({
                    type: "POST",
                    url: "/file/uploadSummernoteImageFile",
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,

                    data: data,
                    success: function (data) {
                        $(el).summernote('editor.insertImage', data.url);
                        $("#thumbnail").append("<option value=\"" + data.savedName + "\">" + data.originName + "</option>");
                    }
                });
            }
        });
    </script>
</body>
</html>